/*background of whole site*/
html, body{
margin: auto;
  margin-top:2em;
  margin-bottom:1em;
  width: 95%;
  height: 90%;
  background:#F5F4F3 ;
  font-family: arial;
}

section{
padding: 0.1875em;
}

/*similar characteristic groupings*/
/*cascading*/
a:link{
color: #E34C24;
}

li{
margin:5px;
list-style-type: none;
}

h3{
  border: solid 0.0625em;
  border-color: white white darkgrey white;
  margin: 0.3125em;
  padding:  0.5em;
  color: #212120 ;
	font-style: bold;
}
.label{

}
p{
  margin: 0.5em;
  padding: 0.3125em;
 /*margin: 0.7em 0.5em;*/
line-height: 1.5em;
}

/* !!!!!!!!!!!!!!!!! Header!!!!!!!!!!!!!!*/
header{
background:#F5F4F3;
color: #212120 ;
font-family: arial;
font-size: 26pt;
top:0em;
}

nav{
font-size: 18pt;
background: #F5F4F3;
}

/* !!!!!!!!!!!!!!!!! Main Column !!!!!!!!!!!!!!*/

div#container{
position: relative;
background: white;
width: 62em;
}

div#main{
background: white;
margin-right: 18.5em;
width: 62em;
}

figure{
shape-outside: ellipse();
   width: 270px;
  height: 330px;
  float: left;
  margin: 1em 0em 0em 0em;
    padding:0em 0em 0em 1.5em;
}

img{
position: absolute;
border-radius: 50%;
}

figcaption{
float: left;
color: white;
margin-top:18em;
margin-left: 4.5em;
}

[title]{
  /*border: solid lightgrey 0.3125em;
  padding: 0.1em;*/
}

	/* unique about me section*/
.aboutMe{
background: #212120;
width: 62em;
  height:22em;
}

.container #ed{

}

.aboutMe p{
color: #F5F4F3;
background: #212120 ;
}
.aboutMe figure{
color: white ;
background: #212120 ;
}

.aboutMe h3{
font-size: 18pt;
color: white ;
background: #212120 ;
border: solid 0.0625em;
border-color:  #212120   #212120  white  #212120 ;
}

	/* (sub)headings*/
h2{
  margin: 0.3125em;
  padding:  0.5em;
color:#3A3A34;
}

/* !!!!!!!!!!!!!!!!! Right Collumn (Aside)!!!!!!!!!!!!!!*/
aside{
margin: 1.25em 0em;
width: 17.5em;
position: fixed;
right: 5em;
top: 7em;
}

.hobbiesBox {
background-color: #EDEBE8;
border: solid 0.833333em #EDEBE8;
}

.hobbiesBox p {
	background-color: white;
	margin: 0em;
	padding: 0.416667em;
}

.hobbiesBox h6 {
	background-color: #E34C24;
	color: white;
	padding: 0.833333em;
	text-align: center;
	margin:0em;
}

/*Footer*/

footer{
color: #E34C24;
background:#F5F4F3;
}
