/*background of whole site/ similar css groupings*/
html, body{
  margin:auto;
  background:#F5F4F3 ;
  font-family: arial;
  font-size: 1em;
}
.container, h1{
padding: 1.5em;
width: 40em;
margin: auto;
margin-top:1em;
background: white;
}

h1{
width: 27.8em;
height: 1em;
background: #E34C24;
color: white;
text-align: center;
font-size: 1.40em;
}

h3{
  margin: 0.7em 0.5em;
}

p{
margin: 0.7em 0.5em;
line-height: 1.5em;
color: #212120;
}

.blog{
background:white;
border: solid 0.25em;
padding: 1em 0em;;
border-color: white white black white;
}

/*header*/
nav{
padding: 0.75em;
text-align: center;
background:;
}

a:visited {
color: black;
}

/*Preview Post Section*/
.previewSection h2{
font-size: 1.25em;
text-align: center;
font-weight: bold;
color:purple;
}

.previewSection{
border: solid 0.25em;
border-color: white white black white;
}
#previewMessage{
text-align: right;
}
.previewBorder{
border: double 0.10em purple;
padding:0.25em;
}

.previewSection a{
color: grey;
}

/*Blog Post Section*/

#blogTime{
color: #242F90;
text-align: right;
font-size: 0.85em;
}

#blogTitle{
font-size: 1em;
}

/*Comment Section*/
#commentTitle{
color: #E34C24;
font-style: bold;
font-size: 1em;
width:5em;
border: solid 0.005em;
border-color: white white white white;
}
.commentPosts p{
font-size: 0.85em;
}

#commentTime{
	color:#7C7C7C;
	text-align: right;
	font-size: 0.80em;
}
#commentUser{
color:#7C7C7C;
}
#commentTextArea{
width: 55em;
}
/*Admin view only: delete post and comment buttons*/
/*.deleteButton{
float:right;
background: #C8C8C8;
border-radius: 0.5em;
}
*/
