.a1-12 {
  width: 8.3333333333%;
}

.a2-12 {
  width: 16.6666666667%;
}

.a3-12 {
  width: 25%;
}

.a4-12 {
  width: 33.3333333333%;
}

.a5-12 {
  width: 41.6666666667%;
}

.a6-12 {
  width: 50%;
}

.a7-12 {
  width: 58.3333333333%;
}

.a8-12 {
  width: 66.6666666667%;
}

.a9-12 {
  width: 75%;
}

.a10-12 {
  width: 83.3333333333%;
}

.a11-12 {
  width: 91.6666666667%;
}

.a12-12 {
  width: 100%;
}

.a5-13 {
  width: 38.4615384615%;
}

@media (min-width: 1751px) {
  .x1-12 {
    width: 8.3333333333%;
  }
}
@media (min-width: 1751px) {
  .x2-12 {
    width: 16.6666666667%;
  }
}
@media (min-width: 1751px) {
  .x3-12 {
    width: 25%;
  }
}
@media (min-width: 1751px) {
  .x4-12 {
    width: 33.3333333333%;
  }
}
@media (min-width: 1751px) {
  .x5-12 {
    width: 41.6666666667%;
  }
}
@media (min-width: 1751px) {
  .x6-12 {
    width: 50%;
  }
}
@media (min-width: 1751px) {
  .x7-12 {
    width: 58.3333333333%;
  }
}
@media (min-width: 1751px) {
  .x8-12 {
    width: 66.6666666667%;
  }
}
@media (min-width: 1751px) {
  .x9-12 {
    width: 75%;
  }
}
@media (min-width: 1751px) {
  .x10-12 {
    width: 83.3333333333%;
  }
}
@media (min-width: 1751px) {
  .x11-12 {
    width: 91.6666666667%;
  }
}
@media (min-width: 1751px) {
  .x12-12 {
    width: 100%;
  }
}
@media (max-width: 1313px) {
  .b1-12 {
    width: 8.3333333333%;
  }
}

@media (max-width: 1313px) {
  .b2-12 {
    width: 16.6666666667%;
  }
}

@media (max-width: 1313px) {
  .b3-12 {
    width: 25%;
  }
}

@media (max-width: 1313px) {
  .b4-12 {
    width: 33.3333333333%;
  }
}

@media (max-width: 1313px) {
  .b5-12 {
    width: 41.6666666667%;
  }
}

@media (max-width: 1313px) {
  .b6-12 {
    width: 50%;
  }
}

@media (max-width: 1313px) {
  .b7-12 {
    width: 58.3333333333%;
  }
}

@media (max-width: 1313px) {
  .b8-12 {
    width: 66.6666666667%;
  }
}

@media (max-width: 1313px) {
  .b9-12 {
    width: 75%;
  }
}

@media (max-width: 1313px) {
  .b10-12 {
    width: 83.3333333333%;
  }
}

@media (max-width: 1313px) {
  .b11-12 {
    width: 91.6666666667%;
  }
}

@media (max-width: 1313px) {
  .b12-12 {
    width: 100%;
  }
}

@media (max-width: 1313px) {
  .about-home .b4-12 {
    width: 33.3333333333%;
  }
}

@media (max-width: 1048px) {
  .c1-6 {
    width: 16.6666666667%;
  }
}

@media (max-width: 1048px) {
  .c2-6 {
    width: 33.3333333333%;
  }
}

@media (max-width: 1048px) {
  .c3-6 {
    width: 50%;
  }
}

@media (max-width: 1048px) {
  .c4-6 {
    width: 66.6666666667%;
  }
}

@media (max-width: 1048px) {
  .c5-6 {
    width: 83.3333333333%;
  }
}

@media (max-width: 1048px) {
  .c6-6 {
    width: 100%;
  }
}

@media (max-width: 970px) {
  .d1-6 {
    width: 16.6666666667%;
  }
}

@media (max-width: 970px) {
  .d2-6 {
    width: 33.3333333333%;
  }
}

@media (max-width: 970px) {
  .d3-6 {
    width: 50%;
  }
}

@media (max-width: 970px) {
  .d4-6 {
    width: 66.6666666667%;
  }
}

@media (max-width: 970px) {
  .d5-6 {
    width: 83.3333333333%;
  }
}

@media (max-width: 970px) {
  .d6-6 {
    width: 100%;
  }
}

@media (max-width: 970px) {
  .d1-12 {
    width: 8.3333333333%;
  }
}

@media (max-width: 970px) {
  .d2-12 {
    width: 16.6666666667%;
  }
}

@media (max-width: 970px) {
  .d3-12 {
    width: 25%;
  }
}

@media (max-width: 970px) {
  .d4-12 {
    width: 33.3333333333%;
  }
}

@media (max-width: 970px) {
  .d5-12 {
    width: 41.6666666667%;
  }
}

@media (max-width: 970px) {
  .d6-12 {
    width: 50%;
  }
}

@media (max-width: 970px) {
  .d7-12 {
    width: 58.3333333333%;
  }
}

@media (max-width: 970px) {
  .d8-12 {
    width: 66.6666666667%;
  }
}

@media (max-width: 970px) {
  .d9-12 {
    width: 75%;
  }
}

@media (max-width: 970px) {
  .d10-12 {
    width: 83.3333333333%;
  }
}

@media (max-width: 970px) {
  .d11-12 {
    width: 91.6666666667%;
  }
}

@media (max-width: 970px) {
  .d12-12 {
    width: 100%;
  }
}

@media (max-width: 838px) {
  .e1-12 {
    width: 8.3333333333%;
  }
}

@media (max-width: 838px) {
  .e2-12 {
    width: 16.6666666667%;
  }
}

@media (max-width: 838px) {
  .e3-12 {
    width: 25%;
  }
}

@media (max-width: 838px) {
  .e4-12 {
    width: 33.3333333333%;
  }
}

@media (max-width: 838px) {
  .e5-12 {
    width: 41.6666666667%;
  }
}

@media (max-width: 838px) {
  .e6-12 {
    width: 50%;
  }
}

@media (max-width: 838px) {
  .e7-12 {
    width: 58.3333333333%;
  }
}

@media (max-width: 838px) {
  .e8-12 {
    width: 66.6666666667%;
  }
}

@media (max-width: 838px) {
  .e9-12 {
    width: 75%;
  }
}

@media (max-width: 838px) {
  .e10-12 {
    width: 83.3333333333%;
  }
}

@media (max-width: 838px) {
  .e11-12 {
    width: 91.6666666667%;
  }
}

@media (max-width: 838px) {
  .e12-12 {
    width: 100%;
  }
}

@media (max-width: 684px) {
  .f1-12 {
    width: 8.3333333333%;
  }
}

@media (max-width: 684px) {
  .f2-12 {
    width: 16.6666666667%;
  }
}

@media (max-width: 684px) {
  .f3-12 {
    width: 25%;
  }
}

@media (max-width: 684px) {
  .f4-12 {
    width: 33.3333333333%;
  }
}

@media (max-width: 684px) {
  .f5-12 {
    width: 41.6666666667%;
  }
}

@media (max-width: 684px) {
  .f6-12 {
    width: 50%;
  }
}

@media (max-width: 684px) {
  .f7-12 {
    width: 58.3333333333%;
  }
}

@media (max-width: 684px) {
  .f8-12 {
    width: 66.6666666667%;
  }
}

@media (max-width: 684px) {
  .f9-12 {
    width: 75%;
  }
}

@media (max-width: 684px) {
  .f10-12 {
    width: 83.3333333333%;
  }
}

@media (max-width: 684px) {
  .f11-12 {
    width: 91.6666666667%;
  }
}

@media (max-width: 684px) {
  .f12-12 {
    width: 100%;
  }
}

@media (max-width: 595px) {
  .g1-6 {
    width: 16.6666666667%;
  }
}

@media (max-width: 595px) {
  .g2-6 {
    width: 33.3333333333%;
  }
}

@media (max-width: 595px) {
  .g3-6 {
    width: 50%;
  }
}

@media (max-width: 595px) {
  .g4-6 {
    width: 66.6666666667%;
  }
}

@media (max-width: 595px) {
  .g5-6 {
    width: 83.3333333333%;
  }
}

@media (max-width: 595px) {
  .g6-6 {
    width: 100%;
  }
}

@media (max-width: 449px) {
  .h1-6 {
    width: 16.6666666667%;
  }
}

@media (max-width: 449px) {
  .h2-6 {
    width: 33.3333333333%;
  }
}

@media (max-width: 449px) {
  .h3-6 {
    width: 50%;
  }
}

@media (max-width: 449px) {
  .h4-6 {
    width: 66.6666666667%;
  }
}

@media (max-width: 449px) {
  .h5-6 {
    width: 83.3333333333%;
  }
}

@media (max-width: 449px) {
  .h6-6 {
    width: 100%;
  }
}

.post .icon-share {
  font-size: 36px;
  padding-left: 1.5rem;
}
@media (max-width: 449px) {
  .post .icon-share {
    padding-left: 0;
  }
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, figure, nav, footer {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

textarea {
  font-family: "Montserrat", sans-serif;
}

button {
  font-family: "Montserrat", sans-serif;
  background: none;
  border: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  color: initial;
  text-decoration: none;
}
a:visited {
  color: initial;
}

th {
  text-align: left;
}

body {
  font-family: "Montserrat", sans-serif;
}

.signUp-open,
.nav-open,
.login-open {
  overflow: hidden;
}

.bg--white {
  background-color: #FFFFFF;
}
.bg--light {
  background-color: #f1e4b9;
}
.bg--featured {
  background-color: #f8b04a;
}
.bg--comments {
  background-color: #25a947;
}
.bg--lines1 {
  background-image: url("../../images/lines1.png ");
  background-size: 110%;
}
.signUp-open .bg, .login-open .bg {
  background: rgba(0, 0, 0, 0.6);
}

.flex {
  display: flex;
}
.flex--align-center {
  align-items: center;
}
.flex--align-end {
  align-items: flex-end;
}
.flex--justify-start {
  justify-content: flex-start;
}
.flex--justify-center {
  justify-content: center;
}
.flex--justify-end {
  justify-content: flex-end;
}
.flex--justify-space-between {
  justify-content: space-between;
}
.flex--column {
  flex-direction: column;
}
.flex--wrap {
  flex-wrap: wrap;
}

.grid {
  margin-left: -1rem;
}
.grid .grid__item {
  padding-left: 1rem;
}
.grid--m {
  margin-left: -2rem;
}
.grid--m .grid__item {
  padding-left: 2rem;
}
.nav__login-burger .grid {
  margin-left: -0.5rem;
}
.nav__login-burger .grid .grid__item {
  padding-left: 0.5rem;
}

.container {
  padding: 0 69px;
}
@media (max-width: 595px) {
  .container {
    padding: 0 1rem;
  }
}
.section--about .container {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 838px) {
  .section--about .container {
    position: initial;
    transform: none;
    padding: 10vh 69px;
  }
}
@media (max-width: 595px) {
  .section--about .container {
    padding: 10vh 1rem;
  }
}
.container--m {
  padding: 0 150px;
}
@media (max-width: 595px) {
  .container--m {
    padding: 0 1rem;
  }
}

.footer__inner, .nav__inner {
  padding: 1.75rem 69px;
}
@media (max-width: 595px) {
  .footer__inner, .nav__inner {
    padding: 1.75rem 1rem;
  }
}

.button {
  background-color: #000000;
  color: #FFFFFF;
  padding: 0.75rem 2.5rem;
  margin-bottom: 1rem;
  margin-right: 2rem;
}

.nav {
  display: flex;
  width: 100%;
}

@media (max-width: 449px) {
  .nav__logo {
    width: 120px;
    height: 64px;
  }
}

@media (max-width: 449px) {
  .nav__message {
    font-size: 14px;
  }
}

.nav__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 46px;
}
.nav__links ul > li:last-of-type {
  margin-left: 1rem;
}
.nav__links ul {
  padding-left: 0;
}

.nav__primary {
  font-size: 22px;
  margin-bottom: 0.5rem;
}

.nav__secondary {
  font-size: 20px;
}

.nav__login {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 0.5rem;
}
.nav__login button {
  font-size: 20px;
}
@media (max-width: 838px) {
  .nav__login button {
    font-size: 18px;
  }
}
@media (max-width: 449px) {
  .nav__login button {
    font-size: 12.7px;
  }
}
.nav__login span::before {
  margin-left: 0.5rem;
}

@media (max-width: 838px) {
  .nav__links {
    display: none;
  }
}

.nav__login-burger {
  display: flex;
  flex-direction: column-reverse;
  justify-content: end;
}

.nav__inner {
  width: 100%;
  display: flex;
  align-items: flex-end;
}
@media (max-width: 838px) {
  .nav__inner {
    display: flex;
    justify-content: space-between;
  }
}
.nav__inner .nav__burger {
  display: none;
  background-color: #ad2314;
  height: 46px;
  width: 46px;
  margin-bottom: 1rem;
  align-self: flex-end;
}
@media (max-width: 838px) {
  .nav__inner .nav__burger {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 449px) {
  .nav__inner .nav__burger {
    height: 36px;
    width: 36px;
    margin-bottom: 0.5rem;
  }
}
.nav__inner .nav__burger .icon-menu::before,
.nav__inner .nav__burger .icon-cross::before {
  font-size: 36px;
}
@media (max-width: 838px) {
  .nav__inner .nav__burger .icon-menu,
.nav__inner .nav__burger .icon-cross {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 449px) {
  .nav__inner .nav__burger .icon-menu::before,
.nav__inner .nav__burger .icon-cross::before {
    font-size: 22px;
  }
}
.nav-open .nav__inner .nav__burger .icon-menu {
  display: none;
}
.nav__inner .nav__burger .icon-cross {
  display: none;
}
.nav__inner .nav__burger .icon-cross::before {
  font-size: 26px;
}
.nav-open .nav__inner .nav__burger .icon-cross {
  display: flex;
}
.nav-open .nav__inner {
  background-color: #FFFFFF;
  z-index: 2;
}

.nav__mobile {
  display: none;
}

@media (max-width: 838px) {
  .nav-open .nav__mobile {
    display: block;
    background-color: #f1e4b9;
    position: relative;
    height: 100vh;
  }
  .nav-open .nav__mobile .nav__mobile__link {
    font-size: 46px;
    letter-spacing: -0.19rem;
    line-height: 62px;
    color: #FFFFFF;
    position: absolute;
  }
  .nav-open .nav__mobile .nav__mobile__link--portfolio {
    top: 15%;
    right: 10%;
  }
  .nav-open .nav__mobile .nav__mobile__link--blog {
    top: 32%;
    left: 15%;
  }
  .nav-open .nav__mobile .nav__mobile__footer {
    position: absolute;
    top: 60%;
    right: 2rem;
  }
  .nav-open .nav__mobile .nav__mobile__footer li {
    font-size: 26px;
    line-height: 42px;
  }
}
@media (max-width: 838px) and (max-width: 449px) {
  .nav-open .nav__mobile .nav__mobile__footer li {
    font-size: 14px;
    line-height: 24px;
  }
}
@media (max-width: 838px) and (max-width: 449px) {
  .nav-open .nav__mobile .nav__mobile__footer li {
    font-size: 14px;
    line-height: 24px;
  }
}
@media (max-width: 838px) {
  .nav-open .nav {
    display: block;
    height: 100vh;
    width: 100vw;
    position: fixed;
    overflow-y: scroll;
    z-index: 2;
  }
}
@media (max-width: 838px) {
  .nav-open .nav__inner {
    background-color: #f1e4b9;
    width: unset;
  }
}

.footer {
  background-color: #f1e4b9;
  font-size: 20px;
  line-height: 32px;
}

.footer__secondary {
  font-size: 14px;
}

@font-face {
  font-family: "icomoon";
  src: url("../../fonts/icomoon.eot?ooikxd");
  src: url("../../fonts/icomoon.eot?ooikxd#iefix") format("embedded-opentype"), url("../../fonts/icomoon.ttf?ooikxd") format("truetype"), url("../../fonts/icomoon.woff?ooikxd") format("woff"), url("../../fonts/icomoon.svg?ooikxd#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-profile:before {
  content: "\e923";
}

.icon-phone:before {
  content: "\e942";
}

.icon-envelop:before {
  content: "\e945";
}

.icon-location:before {
  content: "\e947";
}

.icon-user-plus:before {
  content: "\e973";
}

.icon-user-check:before {
  content: "\e975";
}

.icon-bin2:before {
  content: "\e9ad";
}

.icon-menu:before {
  content: "\e9bd";
}

.icon-cross:before {
  content: "\ea0f";
}

.icon-enter:before {
  content: "\ea13";
}

.icon-exit:before {
  content: "\ea14";
}

.icon-play2:before {
  content: "\ea15";
}

.icon-ctrl:before {
  content: "\ea50";
}

.icon-share:before {
  content: "\ea7d";
}

.icon-share2:before {
  content: "\ea82";
}

.icon-whatsapp:before {
  content: "\ea93";
}

.icon-github:before {
  content: "\eab0";
}

.icon-linkedin:before {
  content: "\eac9";
}

.about-home {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-home img {
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 684px) {
  .about-home {
    flex-wrap: wrap;
  }
}

.about-home__text {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
@media (max-width: 1313px) {
  .about-home__text {
    margin-right: -5rem;
  }
}
@media (max-width: 970px) {
  .about-home__text {
    flex-direction: initial;
  }
}
@media (max-width: 684px) {
  .about-home__text {
    margin-right: 0;
    justify-content: center;
  }
}

.about-home__code {
  font-size: 56px;
  line-height: 58px;
  margin-bottom: 0.25rem;
}
@media (min-width: 1751px) {
  .about-home__code {
    font-size: 69px;
  }
}
@media (max-width: 1108px) {
  .about-home__code {
    font-size: 48px;
  }
}
@media (max-width: 449px) {
  .about-home__code {
    font-size: 42px;
    line-height: 46px;
  }
}

.about-home__name {
  font-size: 56px;
  line-height: 50px;
  margin-bottom: 1rem;
}
@media (min-width: 1751px) {
  .about-home__name {
    font-size: 69px;
    line-height: 66px;
  }
}
@media (max-width: 1108px) {
  .about-home__name {
    font-size: 48px;
  }
}
@media (max-width: 449px) {
  .about-home__name {
    font-size: 40px;
    line-height: 40px;
  }
}

.about-home__summary {
  font-size: 20px;
  line-height: 32px;
}
.about-home__summary a {
  color: #000000;
}
@media (min-width: 1751px) {
  .about-home__summary {
    font-size: 26px;
    line-height: 35px;
  }
}
@media (max-width: 1108px) {
  .about-home__summary {
    font-size: 16px;
    line-height: 26px;
  }
}
.about-home__summary .enlarged {
  display: inline;
  font-size: 26px;
  font-weight: 500;
}
@media (min-width: 1751px) {
  .about-home__summary .enlarged {
    font-size: 32px;
  }
}
@media (max-width: 1108px) {
  .about-home__summary .enlarged {
    font-size: 20px;
  }
}

.about-home__image {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  filter: grayscale(15%);
}
@media (max-width: 684px) {
  .about-home__image {
    margin-top: 4rem;
  }
}
@media (min-width: 1751px) {
  .about-home__image img {
    width: 90%;
  }
}
@media (max-width: 838px) {
  .about-home__image img {
    width: 313px;
  }
}
.about-home__image .about-home__image__socials {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
}
@media (min-width: 1751px) {
  .about-home__image .about-home__image__socials {
    right: 12.5%;
  }
}
@media (max-width: 684px) {
  .about-home__image .about-home__image__socials {
    top: 6.5%;
  }
}
.about-home__image .about-home__image__socials .cv-hover {
  display: none;
}
.about-home__image .about-home__image__socials span::before {
  color: #ad2314;
  display: block;
  margin-bottom: 1rem;
  font-size: 40px;
}
.about-home__image .about-home__image__socials span::before:hover .cv-hover {
  display: block;
}

.login-form {
  background-color: #f8b04a;
  display: none;
  z-index: 3;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
  padding: 6vh 6vw;
}
.login-open .login-form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.login-form legend {
  font-size: 55px;
  margin-bottom: 2.5rem;
}
@media (max-width: 838px) {
  .login-form legend {
    font-size: 42px;
  }
}
.login-form label {
  display: block;
  font-size: 22px;
  margin-bottom: 0.5rem;
}
.login-form input {
  font-size: 18px;
  padding-left: 1rem;
  height: 2.5rem;
  margin-bottom: 2rem;
  border: #000000 solid 1px;
  box-sizing: border-box;
  max-width: 29rem;
}
.login-form input:focus {
  outline: #50555C 1px solid;
}
.login-form p,
.login-form button {
  font-size: 22px;
}

.login-form__inner {
  position: relative;
}

.login-form__close {
  position: absolute;
  top: 0;
  right: -6%;
}
.login-form__close::before {
  font-size: 32px;
}
@media (max-width: 838px) {
  .login-form__close {
    right: 0;
  }
}

@media (max-width: 838px) {
  .nav__signUp__open,
.login-form__submit {
    padding: 0;
  }
}

.login-form__submit {
  background-color: #000000;
  color: #FFFFFF;
  padding: 0.75rem 2.5rem;
  margin-bottom: 2.5rem;
}

.mb-40 {
  margin-bottom: 2.5rem;
}

.mb-16 {
  margin-bottom: 1rem;
}

.section {
  width: 100vw;
  padding: 4rem 0;
}
.section--about {
  height: calc(100vh - 136px);
  box-sizing: border-box;
  position: relative;
}
@media (max-width: 838px) {
  .section--about {
    height: initial;
  }
}
.section--fh {
  height: calc(100vh - 136px);
}

.signUp-form {
  background-color: #f8b04a;
  display: none;
  z-index: 3;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
  padding: 6vh 6vw;
}
.signUp-open .signUp-form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.signUp-form legend {
  font-size: 55px;
  margin-bottom: 2.5rem;
}
@media (max-width: 838px) {
  .signUp-form legend {
    font-size: 42px;
  }
}
.signUp-form label {
  display: block;
  font-size: 22px;
  margin-bottom: 0.5rem;
}
.signUp-form input {
  font-size: 18px;
  padding-left: 1rem;
  height: 2.5rem;
  margin-bottom: 2rem;
  border: #000000 solid 1px;
  box-sizing: border-box;
  max-width: 29rem;
}
.signUp-form input:focus {
  outline: #50555C 1px solid;
}
.signUp-form p,
.signUp-form button {
  font-size: 22px;
}

.signUp-form__inner {
  position: relative;
}

.signUp-form__close {
  position: absolute;
  top: 0;
  right: -6%;
}
.signUp-form__close::before {
  font-size: 32px;
}
@media (max-width: 838px) {
  .signUp-form__close {
    right: 0;
  }
}

@media (max-width: 838px) {
  .nav__login__open,
.sign-up__button {
    padding: 0;
  }
}

.signUp-form__submit {
  background-color: #000000;
  color: #FFFFFF;
  padding: 0.75rem 2.5rem;
  margin-bottom: 2.5rem;
}

.post h1,
.h1 {
  font-size: 56px;
  line-height: 58px;
}
@media (max-width: 970px) {
  .post h1,
.h1 {
    font-size: 44px;
  }
}
@media (max-width: 449px) {
  .post h1,
.h1 {
    font-size: 40px;
    line-height: initial;
  }
}
.h1--mb {
  margin-bottom: 3rem;
}

@media (max-width: 449px) {
  .h1 .post {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }
}

.post h2,
.h2 {
  font-size: 28px;
}
@media (max-width: 970px) {
  .post h2,
.h2 {
    font-size: 24px;
  }
}

.a,
a {
  color: #000000;
}
.a:hover,
a:hover {
  color: #25a947;
}
.a:visited,
a:visited {
  color: initial;
}
.listing .a,
.listing a {
  text-decoration: underline;
}

.content-text {
  font-size: 22px;
  max-width: 60rem;
}
@media (max-width: 1313px) {
  .content-text {
    font-size: 18px;
    line-height: 1.6rem;
  }
}

.post {
  margin-bottom: 5rem;
}
.post h1 {
  margin-bottom: 1rem;
}
.post h2 {
  margin-bottom: 3rem;
}
@media (max-width: 449px) {
  .post h2 {
    margin-bottom: 2rem;
  }
}
.post div,
.post p {
  font-size: 18px;
  line-height: 29px;
  margin-bottom: 1rem;
}
@media (max-width: 449px) {
  .post div,
.post p {
    font-size: 16px;
  }
}

.project-form legend {
  font-size: 55px;
  margin-bottom: 2.5rem;
}
@media (max-width: 838px) {
  .project-form legend {
    font-size: 42px;
  }
}
.project-form label {
  display: block;
  font-size: 22px;
  margin-bottom: 0.5rem;
}
.project-form input,
.project-form textarea {
  font-size: 18px;
  padding-left: 1rem;
  height: 2.5rem;
  margin-bottom: 2rem;
  border: #000000 solid 1px;
  box-sizing: border-box;
  max-width: 46rem;
}
.project-form input:focus,
.project-form textarea:focus {
  outline: #50555C 1px solid;
}
.project-form textarea {
  height: 24rem;
  max-width: 46rem;
  padding-top: 1rem;
}

@media (max-width: 595px) {
  .project-form__buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.chat-symbol__section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media (max-width: 838px) {
  .chat-symbol__section {
    position: fixed;
    right: 0;
    bottom: 0;
  }
}

.chat-symbol__figure {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.chat-symbol__img {
  width: 100%;
}

.chat-symbol__chat {
  position: absolute;
  top: 29%;
  left: 7%;
  width: 70%;
}
@media (min-width: 1751px) {
  .chat-symbol__chat {
    max-width: 16rem;
  }
}

.chat-symbol__count {
  position: absolute;
  top: 10%;
  right: 7%;
}
@media (max-width: 1108px) {
  .chat-symbol__count {
    top: 7%;
  }
}
@media (max-width: 970px) {
  .chat-symbol__count {
    font-size: 14px;
  }
}

.comments__item {
  margin-bottom: 2rem;
}

.comments__item__time,
.comments__item__username {
  margin-bottom: 0.5rem;
}

.comments__item {
  border: 1px black solid;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: #FFFFFF;
}
.comments__item .comments__item__username {
  font-weight: 500;
}
.comments__item .comments__item__time {
  font-style: italic;
}

.commentTextArea {
  border: black 1px solid;
  background-color: #f1e4b9;
  padding: 0.5rem;
}

.commentTextArea {
  display: block;
  margin-bottom: 1rem;
  width: calc(100% - 1rem);
}

.deleteButton {
  margin-top: 1rem;
}

.listing th,
.listing td {
  padding-bottom: 1rem;
  font-size: 20px;
}
@media (max-width: 449px) {
  .listing th,
.listing td {
    font-size: 14px;
  }
}