<form class="signUp-form a5-12 e7-12 h5-6" method="POST" action="_signUp.php">
	<div class="signUp-form__inner a12-12">
		<legend>Sign Up</legend>
		<span class="signUp-form__close icon-cross"></span>
		<input class="a12-12" type="text" id="username" name="username" placeholder="Username" required>
		<input class="a12-12" type="text" name="name" placeholder="Name" required>
		<input class="a12-12" type="email" name="email" id="Email" placeholder ="Email" required>
		<input class="a12-12" type="password" name="password" placeholder="Password" minlength="7" required>
		<button class="signUp-form__submit" id='Submit' name="Submit">Sign up</button>
		<div class="flex flex--wrap mb-40">
			<p>Already have an account?</p>
			<button class="nav__login__open a" type="button">Login.</button>
		</div>
	</div>
</form>

