@use "sass:math";

//


@for $i from 1 through 12 {
    .a#{$i}-12 {
        width: math.div( $i, 12 ) * 100%;
    }
}

.a5-13 {
    width: math.div( 5, 13 ) * 100%;
}

$x: 1751px;
@for $i from 1 through 12 {
    @media ( min-width: $x ) {
        .x#{$i}-12 {
            width: math.div( $i, 12 ) * 100%;
        }
    }
}

$b: 1313px;
@for $i from 1 through 12 {
    .b#{$i}-12 {
        @media ( max-width: $b ) {
            width: math.div( $i, 12 ) * 100%;
        }
    }
}

.b4-12 {
    .about-home & {
        @media ( max-width: 1313px ) {
            width: math.div( 4, 12 ) * 100%;
        }
    }
}

$ipad-large: 1048px;
$c: 1108px;
@for $i from 1 through 6 {
    .c#{$i}-6 {
        @media ( max-width: $ipad-large ) {
            width: math.div( $i, 6 ) * 100%;
        }
    }
}

$ipad: 970px;
$d: 970px;
@for $i from 1 through 6 {
    .d#{$i}-6 {
        @media ( max-width: $d ) {
            width: math.div( $i, 6 ) * 100%;
        }
    }
}
@for $i from 1 through 12 {
    .d#{$i}-12 {
        @media ( max-width: $d ) {
            width: math.div( $i, 12 ) * 100%;
        }
    }
}

$e: 838px;
@for $i from 1 through 12 {
    .e#{$i}-12 {
        @media ( max-width: $e ) {
            width: math.div( $i, 12 ) * 100%;
        }
    }
}

$f: 684px;
@for $i from 1 through 12 {
    .f#{$i}-12 {
        @media ( max-width: $f ) {
            width: math.div( $i, 12 ) * 100%;
        }
    }
}

$g: 595px;
@for $i from 1 through 6 {
    .g#{$i}-6 {
        @media ( max-width: $g ) {
            width: math.div( $i, 6 ) * 100%;
        }
    }
}

$h: 449px;
@for $i from 1 through 6 {
    .h#{$i}-6 {
        @media ( max-width: $h ) {
            width: math.div( $i, 6 ) * 100%;
        }
    }
}