.chat-symbol__section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @media( max-width: $e ) {
        position: fixed;
        right: 0;
        bottom: 0;
    }
}

.chat-symbol__figure {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.chat-symbol__img {
    width: 100%;
}

.chat-symbol__chat {
    position: absolute;
    top: 29%;
    left: 7%;
    width: 70%;
    @media( min-width: $x ) {
        max-width: 16rem;
    }
}

.chat-symbol__count {
    position: absolute;
    top: 10%;
    right: 7%;
    @media( max-width: $c ) {
        top: 7%;
    }
    @media( max-width: $d ) {
        font-size: 14px;
    }
}