.comments__item {
    margin-bottom: 2rem;
}

.comments__item__time,
.comments__item__username {
    margin-bottom: 0.5rem;
}

.comments__item {
    border: 1px black solid;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: $white;
    .comments__item__username {
        font-weight: 500;
    }
    .comments__item__time {
        font-style: italic;
    }
}

.commentTextArea {
    border: black 1px solid;
    padding: 0.5rem;
}

.commentTextArea {
    display: block;
    margin-bottom: 1rem;
    width: calc( 100% - 1rem) ;
}

.deleteButton {
    margin-top: 1rem;
}