.container {
    padding: 0 $container-side-padding;
    @media( max-width: $g ) {
        padding: 0 $container-side-padding--g;
    }
    .section--about & {
        position: absolute;
        transform: translateY( -50% );
        top: 50%;
        transform: translateY( -50% );
        @media( max-width: $e ) {
            position: initial;
            transform: none;
            padding: 10vh $container-side-padding;
        }
        @media( max-width: $g ) {
            padding: 10vh $container-side-padding--g;
        }
    }
    &--m {
        padding: 0 $container-side-padding-m;
        @media( max-width: $g ) {
            padding: 0 $container-side-padding--g;
        }
    }
}

%container-header {
    padding: 1.75rem $container-side-padding;
    @media( max-width: $g ) {
        padding: 1.75rem $container-side-padding--g;
    }
}
