.footer {
    background-color: $color-footer;
    font-size: 20px;
    line-height: 32px;
}

.footer__inner {
    @extend %container-header;
    ul {
        li {
            margin-bottom: 0.5rem;
            @media( max-width: $h ) {
                margin-bottom: 0;
            }
        }
    }
}

.footer__secondary {
    font-size: 14px;
}