.login-form {
    background-color: $bg-feature;
    display: none;
    z-index: 3;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate( -50%, -50% );
    overflow-y: scroll;
    padding: 6vh 6vw;
    .login-open & {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    legend {
        font-size: 55px;
        margin-bottom: 2.5rem;
        @media ( max-width: $e ) {
            font-size: 42px;
        }
    }
    label {
        display: block;
        font-size: 22px;
        margin-bottom: 0.5rem;
    }
    input {
        font-size: 18px;
        padding-left: 1rem;
        height: 2.5rem;
        margin-bottom: 2rem;
        border: $black solid 1px;
        box-sizing: border-box;
        max-width: 29rem;
        &:focus {
            outline: $grey 1px solid;
        }
    }
    p,
    button {
        font-size: 22px;
    }
}

.login-form__inner {
    position: relative;
}

.login-form__close {
    position: absolute;
    top: 0;
    right: -6%;
    &::before {
        font-size: 32px;
    }
    @media ( max-width: $e ) {
        right: 0;
    }
}

.nav__signUp__open,
.login-form__submit {
    @media ( max-width: $e ) {
        padding: 0;
    }
}

.login-form__submit {
    background-color: $black;
    color: $white;
    padding: 0.75rem 2.5rem;
    margin-bottom: 2.5rem;
}
