//Colors
$white: #FFFFFF;
$black: #000000;
$beige: #CFC9C9;
$dark-cream: #f1f0ed;
$grey: #50555C;
$brown: #897979;
$light-grey: #D9D9D9;
$light-grey: #ffcd7d;

$red: #ad2314;
$orange: #f8b04a;
$cream: #f1e4b9;
$light-green: #a4ebb3;
$green: #25a947;


//Site color theme

$color-header: $cream;
$color-nav: $cream;
$color-footer: $cream;
$color-icons-social: $red;

$bg-light: $cream;
$bg-feature: $orange;
$color-dark-bg: $red;

$bg-comments: $orange;
$bg-comments-item: $dark-cream;

$color-outline: $red;
$color-hover: $green;
$color-link: $red;


$color-form-input: $cream;

//General
$container-side-padding: 69px;
$container-side-padding--g: 1rem;
$container-side-padding-m: 150px;
$grid-gutter-width: 1rem;
$grid-gutter-width--m: 2rem;


$font-primary: "Montserrat", sans-serif;
//$font-secondary: "Source Code Pro", monospace;

.icon-share {
    .post & {
        font-size: 36px;
        padding-left: 1.5rem;
        @media ( max-width: $h ) {
            padding-left: 0;
        }
    }

}