//Colors
$white: #FFFFFF;
$black: #000000;
$beige: #CFC9C9;
$cream: #EFEFEF;
$dark-cream: #fbf5e8;
$grey: #50555C;
$maroon: #A92508;
$brown: #897979;
$light-grey: #D9D9D9;


//Site color theme

$bg-light: $cream;
$bg-feature: $beige;
$bg-comments: $dark-cream;

$color-outline: $grey;
$color-hover: $grey;
$color-link: $brown;
$color-dark-bg: $brown;
$color-nav: $cream;

$color-icons-social: $brown;

$color-form-input: $cream;

//General
$container-side-padding: 69px;
$container-side-padding--g: 1rem;
$container-side-padding-m: 150px;
$grid-gutter-width: 1rem;
$grid-gutter-width--m: 2rem;


$font-primary: "Montserrat", sans-serif;
//$font-secondary: "Source Code Pro", monospace;

.icon-share {
    .post & {
        font-size: 36px;
        padding-left: 1.5rem;
    }
}